<div class="box">
  <div class="box-header">
    <h3 class="box-title">Campaign List</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive">
    <table id="campaign-list" class="table table-hover">
      <thead>
        <tr>
          <th>Campaign ID</th>
          <th>Vendor ID</th>
          <th>Quantity</th>
          <th>Cost</th>
          <th>Data Type</th>
          <th>Envelope Type</th>
          <th>Offer</th>
          <th class="hidden-sm">Send Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>Campaign ID</th>
          <th>Vendor ID</th>
          <th>Quantity</th>
          <th>Cost</th>
          <th>Data Type</th>
          <th>Envelope Type</th>
          <th>Offer</th>
          <th class="hidden-sm">Send Date</th>
        </tr>
      </tfoot>
    </table>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->