<div class="box box-danger">
  <div class="box-header with-border">
    <h3 class="box-title">Import & compute data from Excel</h3>
  </div>
  
  <div class="box-body">
    <div class="row">
        <div class="col-xs-12">
            <form id="import-excel" enctype="multipart/form-data">
                <div class="form-group">
                  <input id="import-excel-input-file" name="file" type="file" class="hide"  accept=".xls,.xlsx"/>
                  <button id="import-excel-button" type="button" class="btn btn-block btn-default btn-lg">Import & compute</button>
                  <p id="import-excel-status" class="help-block">&nbsp;</p>
                </div>
            </form>
        </div>
    </div>
  </div>
  
</div>