<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">New Campaign</h3>
  </div>
  <form id="new-campaign-form">
    <div class="box-body">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Campaign ID</label>
            <input name="campaign_id" type="text" class="form-control" placeholder="Campaign ID" maxlength="20" required autocomplete="off">
          </div>
        </div>
      
        <div class="col-md-4">
          <div class="form-group">
            <label>Vendor ID</label>
              <input name="vendor_id" type="text" class="form-control" placeholder="Vendor ID" maxlength="10" required autocomplete="off">
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Offer</label>
            <select name="offer" class="form-control" required autocomplete="off">
              <option>30 Years</option>
              <option>15 Years</option>
              <option>5-1 ARM</option>
            </select>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Quantity</label>
            <input name="quantity" type="number" class="form-control" placeholder="Quantity" value="1" max="999999" required autocomplete="off">
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Send Date</label>
            <input name="send_date" type="text" class="form-control" placeholder="mm/dd/yy" data-inputmask="'mask': '99/99/99'" required autocomplete="off">
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Data Type</label>
            <select name="data_type" class="form-control" required autocomplete="off">
              <option>Title Verified</option>
              <option>Aged Lead</option>
              <option>ITA</option>
              <option>Prescreen</option>
            </select>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Envelope Type</label>
            <input name="envelope_type" type="text" class="form-control" placeholder="Envelope Type" maxlength="20" required autocomplete="off">
          </div>
        </div>

        <div class="col-xs-12">
          <hr/>
          <p><b>Cost</b></p>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label>Courier</label>
            <input name="cost_for_courier" type="number" class="form-control" value="0" placeholder="Courier" autocomplete="off">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label>Data</label>
            <input name="cost_for_data" type="number" class="form-control" value="0" placeholder="Data" autocomplete="off">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label>Envelopes</label>
            <input name="cost_for_envelopes" type="number" class="form-control" value="0" placeholder="Envelopes" autocomplete="off">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label>Paper</label>
            <input name="cost_for_paper" type="number" class="form-control" value="0" placeholder="Paper" autocomplete="off">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label>Postage</label>
            <input name="cost_for_postage" type="number" class="form-control" value="0" placeholder="Postage" autocomplete="off">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label>Strapping</label>
            <input name="cost_for_strapping" type="number" class="form-control" value="0" placeholder="Strapping" autocomplete="off">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label>Labels</label>
            <input name="cost_for_labels" type="number" class="form-control" value="0" placeholder="Labels" autocomplete="off">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label>Labor</label>
            <input name="cost_for_labor" type="number" class="form-control" value="0" placeholder="Labor" autocomplete="off">
          </div>
        </div>

      </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      <button type="reset" class="btn btn-default">RESET</button>
      <button type="submit" class="btn btn-info pull-right">SUBMIT</button>
    </div>
    <!-- /.box-footer -->
  </form>
</div>