<link rel="stylesheet" href="/static/lib/adminlte/plugins/datatables/dataTables.bootstrap.css">
<script src="/static/lib/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/lib/adminlte/plugins/datatables/dataTables.bootstrap.min.js"></script>

<script src="/static/lib/adminlte/plugins/input-mask/jquery.inputmask.js"></script>
<!-- <script src="/static/lib/adminlte/plugins/input-mask/jquery.inputmask.date.extensions.js"></script> -->
<script src="/static/lib/adminlte/plugins/input-mask/jquery.inputmask.numeric.extensions.js"></script>
<script src="/static/lib/adminlte/plugins/input-mask/jquery.inputmask.extensions.js"></script>

<script src="/static/js/dashboard.js"></script>




<div class="row">
  <div class="col-md-6">
    {{template "dashboard__new_campaign.html"}}
  </div>

  <div class="col-md-6">
    {{template "dashboard__upload_excel.html"}}
  </div>

  <div class="col-xs-12">
    {{template "dashboard__campaign_list.html"}}
  </div>
  <!-- /.col -->
</div>