<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/png" href="/static/img/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/static/img/favicon-16x16.png" sizes="16x16" />
  <link rel="shortcut icon" href="/static/img/favicon.ico" />
  <title>{{.PageTitle}}</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/lib/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/lib/ionicons-2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="/static/lib/adminlte/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/static/lib/adminlte/css/skins/skin-green.min.css">

  <!-- REQUIRED JS SCRIPTS -->
  <script src="/static/lib/adminlte/plugins/jQuery/jquery-2.2.3.min.js"></script>
  <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/lib/adminlte/js/app.min.js"></script>
</head>
<body class="hold-transition skin-green sidebar-mini">
<div class="wrapper">
  <!-- Main Header -->
  {{template "layout/_header.html"}}

  <!-- Left side column. contains the logo and sidebar -->
  {{template "layout/_sidebar.html"}}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
          {{.PageTitle}}
          <small>{{.PageDescription}}</small>
        </h1>
        <!-- <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
          <li class="active">Here</li>
        </ol> -->
      </section>
      
      <!-- Main content -->
      <section class="content">
        <!-- Your Page Content Here -->
        {{.LayoutContent}}
      </section>
      <!-- /.content -->
    
  </div>
  <!-- /.content-wrapper -->

  {{template "layout/_footer.html"}}
</div>
<!-- ./wrapper -->
<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->
</body>
</html>
